/* Here is your custom css styles. */
@font-face{
    font-family: 'LXGW WenKai';
    src: url('../diy-font/LXGWWenKai-Regular.ttf');
}

/** 表示全局使用，如果不想全局使用不要添加该段 */
body{
    font-family: 'LXGW WenKai';
}


/* 可以局部使用，建议添加 */
.diyFont{
    font-family: 'LXGW WenKai';
}
/* 页首 */
nav {
    background-color: #000000;
}
/* 页脚 */
.page-footer {
    background-color: #000000;
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255,255,255,.4) 50%,
        rgba(255,255,255,.4) 75%,
        transparent 75%,
        transparent);
    border-radius: 3em;
}
::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70);
    border-radius: 3em;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
