/* Here is your custom css styles. */
@font-face{
    font-family: 'LXGWWenKai';
    src: url('../../source/diy-font/LXGWWenKai-Regular.ttf');
}

/** 表示全局使用，如果不想全局使用不要添加该段 */
body{
    font-family: 'LXGWWenKai';
}


/* 可以局部使用，建议添加 */
.diyFont{
    font-family: 'LXGWWenKai';
}